@import "../function.scss";
body{
  background-color: #f4f4f4 !important;
}
.body-box{
  width: 100% !important;
  .list-box{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        margin: 0;
        padding: 0;
        height: pxTorem(98);
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        background-color: #fff;
        a{
          display: block;
          padding: 0 pxTorem(24);
          height: pxTorem(98);
          line-height: pxTorem(98);
          text-decoration: none;
          font-size: pxTorem(30);
          p{
            margin: 0;
            padding: 0;
            height: pxTorem(98);
            .name{
              color: #666;
            }
            .time{
              float: right;
              color: #999;
            }
            .svg-style{
              position: relative;
              top: pxTorem(32);
              float: right;
              width: pxTorem(32);
              height: pxTorem(32);
              fill: #999;
              margin-left: pxTorem(24);
            }
          }
        }
      }
    }
  }
}
