@import "../function.scss";
html,body{
  margin: 0;
  padding: 0;
  position: relative;
}
.hidden {
  display: none !important;
}
html{
  width: 100%;
  height: 100%;
  background: url('/assets/images/login_bg.jpg') center center / cover no-repeat fixed;
  .clear:before,
  .clear:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
  body{
    background-color: rgba(0,0,0,0) !important;
  }
}

.login-box{
  width: pxTorem(610);
  height: pxTorem(340);
  border: 1px solid #ccc;
  background-color: #fff;
  margin: pxTorem(250) auto pxTorem(30) auto;
  border-radius: pxTorem(4);
  .left{
    display: inline-block;
    float: left;
    width: pxTorem(370);
    height: pxTorem(320);
    padding: pxTorem(40) pxTorem(30) pxTorem(30) pxTorem(60);
    .title{
      width: pxTorem(280);
      height: pxTorem(30);
      position: relative;
      label{
        font-size: pxTorem(24);
        color: red;
      }
      span{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: pxTorem(14);
        color: #333;
        cursor: pointer;
      }
      span:hover{
        color: red;
      }
    }
    .input-box{
      margin-top: pxTorem(30);
      .input-item{
        margin-bottom: pxTorem(15);
        input{
          width: pxTorem(280);
          height: pxTorem(36);
          line-height: pxTorem(36);
          border: 1px solid #d1d1d1;
          padding: pxTorem(6) pxTorem(12);
        }
      }
      .getverify{
        input{
          width: pxTorem(190);
        }
        span{
          display: inline-block;
          width: pxTorem(80);
          height: pxTorem(36);
          line-height: pxTorem(36);
          text-align: center;
          background-color: #f00;
          color: #fff;
          margin-left: pxTorem(10);
          font-size: pxTorem(12);
          cursor: pointer;
        }
      }
      .auto-logo{
        position: relative;
        width: pxTorem(280);
        height: pxTorem(36);
        line-height: pxTorem(36);
        .check-box{
          position: absolute;
          left: 0;
          cursor: pointer;
          input{
            position: relative;
            top: pxTorem(2);
            display: inline-block;
            margin-right: pxTorem(5);
          }
        }
        a{
          position: absolute;
          right: 0;
          text-decoration: none;
          color: #333;
        }
      }
      .login-btn{
        width: pxTorem(280);
        height: pxTorem(36);
        margin-top: pxTorem(10);
        & > a{
          display: inline-block;
          text-decoration: none;
          width: pxTorem(280);
          height: pxTorem(36);
          line-height: pxTorem(36);
          text-align: center;
          background-color: #ef0000;
          color: #fff;
          font-size: pxTorem(16);
        }
        .pc-login{
          margin-top: pxTorem(10);
        }
        .sub-login{
          display: none;
        }
      }
    }
  }
  .right{
    display: inline-block;
    width: pxTorem(238);
    height: pxTorem(320);
    float: left;
    padding: pxTorem(120) pxTorem(40) 0 pxTorem(20);
    text-align: center;
    p{
      margin-bottom: pxTorem(10);
      padding: 0;
      text-align: left;
      font-size: pxTorem(14);
      color: #797979;
    }
    // a{
    //   text-decoration: none;
    //   display: inline-block;
    //   width: pxTorem(140);
    //   height: pxTorem(36);
    //   line-height: pxTorem(36);
    //   text-align: center;
    //   background-color: #5076E1;
    //   color: #fff;
    //   font-size: pxTorem(16);
    //   border-radius: pxTorem(4);
    // }
  }
}
.frends-link{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background:rgba(0,0,0,0.5);
}


@media only screen and (max-width: 800px){
  .body-box{
    width: 100%;
  }
  .banner-box{
    width: 100%;
  }
  .navbar{
    width: 100%;
  }
  .footer-style{
    width: 100%;
  }
  .container-self{
    width: 100%;
  }
  .login-box{
    width: pxTorem(350);
    height: pxTorem(280);
    margin: pxTorem(180) auto pxTorem(10) auto;
    .left{
      width: pxTorem(350);
      height: pxTorem(240);
      padding: pxTorem(20);
      .title{
        width: 100%;
        height: pxTorem(24);
        text-align: center;
        label{
          font-size: pxTorem(16);
        }
        span{
          font-size: pxTorem(14);
        }
      }
      .input-box{
        width: pxTorem(280);
        margin: 0 auto;
        margin-top: pxTorem(20);
        .input-item{
          width: 80%;
          margin: 0 auto;
          margin-bottom: pxTorem(10);
          input{
            width: 100%;
            height: pxTorem(32);
            line-height: pxTorem(32);
            padding: pxTorem(4) pxTorem(8);
            font-size: pxTorem(14);
          }
        }
        .getverify{
          input{
            width: pxTorem(110);
          }
          span{
            position: relative;
            top: pxTorem(-1);
            display: inline-block;
            width: pxTorem(80);
            height: pxTorem(26);
            line-height: pxTorem(26);
            margin-left: pxTorem(8);
          }
        }
        .auto-logo{
          width: 80%;
          height: pxTorem(32);
          line-height: pxTorem(32);
          margin: 0 auto;
          .check-box{
            font-size: pxTorem(12);
          }
          a{
            font-size: pxTorem(12);
          }
        }
        .login-btn{
          width: 80%;
          height: pxTorem(32);
          margin: 0 auto;
          & > a{
            width: 100%;
            height: pxTorem(32);
            line-height: pxTorem(32);
            font-size: pxTorem(14);
          }
          .pc-login{
            display: none;
          }
          .sub-login{
            width: 100%;
            display: inline-block;
            margin-top: pxTorem(10);
            span{
              font-size: pxTorem(12);
            }
            .must-register{
              display: inline-block;
              float: right;
              text-decoration: none;
              font-size: pxTorem(12);
            }
          }
        }
      }
    }
    .right{
      display: none;
    }
  }
  .frends-link{
    font-size: pxTorem(10);
    padding: pxTorem(5) pxTorem(30);
  }
}
