@import "../function.scss";
html,body{
  margin: 0;
  padding: 0;
  position: relative;
}
.hidden {
  display: none !important;
}
html{
  width: 100%;
  height: 100%;
  background: url('/assets/images/register_bg.jpg') center center / cover no-repeat fixed;
  .clear:before,
  .clear:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
  body{
    .body-box{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.register-box{
  position: relative;
  width: pxTorem(720);
  margin-bottom: pxTorem(80);
  background-color: #fff;
  margin: pxTorem(170) auto pxTorem(80) auto;
  .vue-box{
    display: inline-block;
    width: pxTorem(500);
  }
  /* 头部导航 */
  .top-tab {
    width: pxTorem(500);
    display: inline-block;
    padding: pxTorem(10) pxTorem(60);
    height: pxTorem(70);
    line-height: pxTorem(40);
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #ddd;
      li{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 50%;
        text-align: center;
        float: left;
        cursor: pointer;
        font-size: pxTorem(16);
      }
      li.active{
        border-bottom: 2px solid #37B5F9;
      }
    }
  }

  .go-login{
    position: absolute;
    top: 50%;
    margin-top: pxTorem(-40);
    width: pxTorem(220);
    padding-right: pxTorem(60);
    text-align: center;
    display: inline-block;
    float: right;
    p{
      text-align: center;
      color: #666;
      font-size: pxTorem(16);
      padding: 0;
      margin-bottom: pxTorem(20);
    }
    a{
      text-decoration: none;
      display: inline-block;
      width: pxTorem(145);
      height: pxTorem(40);
      line-height: pxTorem(40);
      text-align: center;
      background-color: #5076e2;
      color: #fff;
      border-radius: pxTorem(5);
      font-size: pxTorem(16);
    }
  }
}
.frends-link{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background:rgba(0,0,0,0.5);
}

.success-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
.success-box {
  width: 300px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 160px;
  -webkit-transform:translate(-50%,0);
  -moz-transform:translate(-50%,0);
  -o-transform:translate(-50%,0);
  transform:translate(-50%,0);
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow:0 0 10px 3px #999;  
  -moz-box-shadow:0 0 10px 3px #999;  
  box-shadow:0 0 10px 3px #999; 
}
.success-box i {
  display: block;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  color: #58d0a6;
}
.success-box p {
  margin: 0;
  padding: 0;
}
.tips {
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.success-box .tip-text {
  height: 70px;
  line-height: 22px;
  text-align: justify;
  padding: 0 30px;
  margin-top: 10px;
  color: #333;
}
.success-ok {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin: 12px auto;
  border-radius: 10px;
  text-align: center;
  background: #58d0a6;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 800px){
  .register-box{
    width: pxTorem(350);
    margin-bottom: pxTorem(100);
    margin: pxTorem(120) auto pxTorem(100) auto;
    .vue-box{
      width: 100%;
    }
    /* 头部导航 */
    .top-tab {
      width: 100%;
      padding: pxTorem(8) pxTorem(30);
      height: pxTorem(40);
      line-height: pxTorem(22);
      ul{
        li{
          font-size: pxTorem(14);
        }
      }
    }

    .go-login{
      display: none;
    }
  }
  .frends-link{
    font-size: pxTorem(10);
    padding: pxTorem(5) pxTorem(30);
  }
}
