@import "../function.scss";
html,body{
  margin: 0;
  padding: 0;
  position: relative;
}
.hidden {
  display: none !important;
}
html{
  width: 100%;
  height: 100%;
  background: url('/assets/images/register_bg.jpg') center center / cover no-repeat fixed;
  .clear:before,
  .clear:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
}

.register-box{
  position: absolute;
  top: pxTorem(170);
  left: 50%;
  width: pxTorem(500);
  margin-left: pxTorem(-250);
  background-color: #fff;
  margin-bottom: pxTorem(40);

  /* 头部导航 */
  .top-tab {
    padding: pxTorem(10) pxTorem(60);
    height: pxTorem(70);
    line-height: pxTorem(40);
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      border-bottom: 1px solid #ddd;
      li{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 50%;
        text-align: center;
        float: left;
        cursor: pointer;
        font-size: pxTorem(16);
      }
      li.active{
        border-bottom: 2px solid #37B5F9;
      }
    }
  }
}

@media only screen and (max-width: 800px){
  /* .register-box{
    width: pxTorem(300);
    margin-left: pxTorem(-150);
  } */
}
