@import "../function.scss";
html,body{
  margin: 0;
  padding: 0;
  position: relative;
}
.hidden {
  display: none !important;
}
html{
  width: 100%;
  height: 100%;
  background: url('/assets/images/login_bg.jpg') center center / cover no-repeat fixed;
  .clear:before,
  .clear:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
}

.login-box{
  position: absolute;
  top: pxTorem(250);
  left: 50%;
  margin-left: pxTorem(-365);
  width: pxTorem(730);
  height: pxTorem(450);
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: pxTorem(5);
  .title{
    position: relative;
    width: pxTorem(730);
    height: pxTorem(80);
    line-height: pxTorem(80);
    text-align: center;
    border-bottom: 2px solid #e8e8e8;
    color: red;
    font-size: pxTorem(20);
    margin-bottom: pxTorem(40);
    a{
      position: absolute;
      left: pxTorem(30);
      top: 0;
      text-decoration: none;
      color: #bcbcbc;
      font-size: pxTorem(16);
    }
  }
  .step-box{
    width: pxTorem(500);
    height: pxTorem(40);
    margin: 0 auto pxTorem(60) auto;
    text-align: center;
    span{
      display: inline-block;
    }
    .icon-circle{
      width: pxTorem(40);
      height: pxTorem(40);
      line-height: pxTorem(40);
      text-align: center;
      border-radius: 100%;
      background-color: #bcbcbc;
      color: #fff;
      font-size: pxTorem(28);
      font-weight: bold;
    }
    .icon-circle.active{
      background-color: #f14f4f;
      color: #fff;
    }
    span.active{
      color: #f14f4f;
    }
    .text{
      position: relative;
      top: pxTorem(-5);
      height: pxTorem(40);
      line-height: pxTorem(40);
      margin-left: pxTorem(15);
      font-size: pxTorem(16);
    }
    .step-line{
      margin: 0 pxTorem(30);
      font-size: pxTorem(30);
      font-weight: bold;
      color: #bcbcbc;
    }
  }
  .input-box{
    width: pxTorem(400);
    margin: pxTorem(20) auto;
    .input-item{
      margin-bottom: pxTorem(20);
      label{
        display: inline-block;
        width: pxTorem(100);
        text-align: right;
        font-size: pxTorem(16);
        color: #bcbcbc;
        margin-right: pxTorem(20);
      }
      input{
        width: pxTorem(280);
        height: pxTorem(40);
        line-height: pxTorem(40);
        border: 1px solid #d1d1d1;
        padding: pxTorem(6) pxTorem(12);
        border-radius: pxTorem(5);
      }
    }
    .getverify{
      input{
        width: pxTorem(160);
      }
      img{
        display: inline-block;
        width: pxTorem(105);
        height: pxTorem(40);
        margin-left: pxTorem(15);
        cursor: pointer;
        border-radius: pxTorem(5);
      }
    }
    .next-step{
      width: pxTorem(400);
      height: pxTorem(40);
      padding-left: pxTorem(120);
      a{
        text-decoration: none;
        display: inline-block;
        width: pxTorem(280);
        height: pxTorem(40);
        line-height: pxTorem(40);
        text-align: center;
        background-color: #f14f4f;
        color: #fff;
        border-radius: pxTorem(5);
      }
    }
  }

  .second-input-box{
    width: pxTorem(317);
    margin: 0 auto pxTorem(20) auto;
    .input-item{
      margin-bottom: pxTorem(20);
      span{
        color: #bcbcbc;
        position: relative;
        top: pxTorem(-10);
        cursor: pointer;
      }
      input{
        width: pxTorem(317);
        height: pxTorem(40);
        line-height: pxTorem(40);
        border: 1px solid #d1d1d1;
        padding: pxTorem(6) pxTorem(12);
        border-radius: pxTorem(5);
      }
      .getverify{
        display: inline-block;
        width: pxTorem(150);
        height: pxTorem(40);
        line-height: pxTorem(40);
        text-align: center;
        background-color: #bcbcbc;
        color: #fff;
        border-radius: pxTorem(5);
        position: relative;
        top: pxTorem(-20);
        float: right;
      }
    }
    .login-btn{
      width: pxTorem(317);
      height: pxTorem(40);
      a{
        text-decoration: none;
        display: inline-block;
        width: pxTorem(317);
        height: pxTorem(40);
        line-height: pxTorem(40);
        text-align: center;
        background-color: #f14f4f;
        color: #fff;
        border-radius: pxTorem(5);
        font-size: pxTorem(16);
      }
    }
  }

}
