@import "../function.scss";
html,body{
  margin: 0;
  padding: 0;
  position: relative;
}
.hidden {
  display: none !important;
}
html{
  width: 100%;
  height: 100%;
  background: url('/assets/images/login_bg.jpg') center center / cover no-repeat fixed;
  .clear:before,
  .clear:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
}

.login-box{
  position: absolute;
  top: pxTorem(250);
  left: 50%;
  margin-left: pxTorem(-365);
  width: pxTorem(730);
  height: pxTorem(450);
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: pxTorem(5);
  .title{
    position: relative;
    width: pxTorem(730);
    height: pxTorem(80);
    line-height: pxTorem(80);
    text-align: center;
    border-bottom: 2px solid #e8e8e8;
    color: red;
    font-size: pxTorem(20);
    margin-bottom: pxTorem(40);
    a{
      position: absolute;
      left: pxTorem(30);
      top: 0;
      text-decoration: none;
      color: #bcbcbc;
      font-size: pxTorem(16);
    }
  }
  .step-box{
    width: pxTorem(500);
    height: pxTorem(40);
    margin: 0 auto pxTorem(60) auto;
    text-align: center;
    span{
      display: inline-block;
    }
    .icon-circle{
      width: pxTorem(40);
      height: pxTorem(40);
      line-height: pxTorem(40);
      text-align: center;
      border-radius: 100%;
      background-color: #bcbcbc;
      color: #fff;
      font-size: pxTorem(28);
      font-weight: bold;
    }
    .icon-circle.active{
      background-color: #f14f4f;
      color: #fff;
    }
    span.active{
      color: #f14f4f;
    }
    .text{
      position: relative;
      top: pxTorem(-5);
      height: pxTorem(40);
      line-height: pxTorem(40);
      margin-left: pxTorem(15);
      font-size: pxTorem(16);
    }
    .step-line{
      margin: 0 pxTorem(30);
      font-size: pxTorem(30);
      font-weight: bold;
      color: #bcbcbc;
    }
  }
  .input-box{
    width: pxTorem(400);
    margin: pxTorem(20) auto;
    .input-item{
      margin-bottom: pxTorem(20);
      label{
        display: inline-block;
        width: pxTorem(100);
        text-align: right;
        font-size: pxTorem(16);
        color: #bcbcbc;
        margin-right: pxTorem(20);
      }
      input{
        width: pxTorem(280);
        height: pxTorem(40);
        line-height: pxTorem(40);
        border: 1px solid #d1d1d1;
        padding: pxTorem(6) pxTorem(12);
        border-radius: pxTorem(5);
      }
    }
    .getverify{
      input{
        width: pxTorem(160);
      }
      img{
        display: inline-block;
        width: pxTorem(105);
        height: pxTorem(40);
        margin-left: pxTorem(15);
        cursor: pointer;
        border-radius: pxTorem(5);
      }
    }
    .next-step{
      width: pxTorem(400);
      height: pxTorem(40);
      padding-left: pxTorem(120);
      a{
        text-decoration: none;
        display: inline-block;
        width: pxTorem(280);
        height: pxTorem(40);
        line-height: pxTorem(40);
        text-align: center;
        background-color: #f14f4f;
        color: #fff;
        border-radius: pxTorem(5);
      }
    }
  }

  .second-input-box{
    width: pxTorem(317);
    margin: 0 auto pxTorem(20) auto;
    .input-item{
      margin-bottom: pxTorem(20);
      span{
        color: #bcbcbc;
        position: relative;
        top: pxTorem(-10);
        cursor: pointer;
      }
      input{
        width: pxTorem(317);
        height: pxTorem(40);
        line-height: pxTorem(40);
        border: 1px solid #d1d1d1;
        padding: pxTorem(6) pxTorem(12);
        border-radius: pxTorem(5);
      }
      .getverify{
        display: inline-block;
        width: pxTorem(150);
        height: pxTorem(40);
        line-height: pxTorem(40);
        text-align: center;
        background-color: #bcbcbc;
        color: #fff;
        border-radius: pxTorem(5);
        position: relative;
        top: pxTorem(-20);
        float: right;
      }
    }
    .login-btn{
      width: pxTorem(317);
      height: pxTorem(40);
      a{
        text-decoration: none;
        display: inline-block;
        width: pxTorem(317);
        height: pxTorem(40);
        line-height: pxTorem(40);
        text-align: center;
        background-color: #f14f4f;
        color: #fff;
        border-radius: pxTorem(5);
        font-size: pxTorem(16);
      }
    }
  }
}

@media only screen and (max-width: 800px){
  .login-box{
    top: pxTorem(200);
    margin-left: pxTorem(-175);
    width: pxTorem(350);
    height: pxTorem(450);
    .title{
      width: pxTorem(350);
      height: pxTorem(60);
      line-height: pxTorem(60);
      font-size: pxTorem(16);
      margin-bottom: pxTorem(20);
      a{
        left: pxTorem(14);
        font-size: pxTorem(14);
      }
    }
    .step-box{
      width: pxTorem(300);
      height: pxTorem(30);
      margin: 0 auto pxTorem(20) auto;
      .icon-circle{
        position: relative;
        top: pxTorem(-5);
        width: pxTorem(20);
        height: pxTorem(20);
        line-height: pxTorem(20);
        font-size: pxTorem(14);
      }
      .text{
        top: pxTorem(-5);
        height: pxTorem(20);
        line-height: pxTorem(20);
        margin-left: pxTorem(8);
        font-size: pxTorem(12);
      }
      .step-line{
        position: relative;
        top: pxTorem(-5);
        margin: 0 pxTorem(10);
        font-size: pxTorem(18);
      }
    }
    .input-box{
      width: pxTorem(300);
      margin: pxTorem(10) auto;
      .input-item{
        margin-bottom: pxTorem(10);
        label{
          width: pxTorem(80);
          font-size: pxTorem(14);
          margin-right: pxTorem(8);
        }
        input{
          width: pxTorem(210);
          height: pxTorem(32);
          line-height: pxTorem(32);
          padding: pxTorem(3) pxTorem(10);
        }
      }
      .getverify{
        input{
          width: pxTorem(120);
        }
        img{
          width: pxTorem(80);
          height: pxTorem(32);
          margin-left: pxTorem(10);
          border-radius: pxTorem(5);
        }
      }
      .next-step{
        width: pxTorem(210);
        height: pxTorem(32);
        padding-left: pxTorem(88);
        a{
          width: pxTorem(210);
          height: pxTorem(32);
          line-height: pxTorem(32);
        }
      }
    }

    .second-input-box{
      width: pxTorem(220);
      margin: 0 auto pxTorem(10) auto;
      .input-item{
        margin-bottom: pxTorem(10);
        span{
          top: pxTorem(-10);
        }
        input{
          width: pxTorem(220);
          height: pxTorem(32);
          line-height: pxTorem(32);
          padding: pxTorem(3) pxTorem(10);
        }
        .getverify{
          width: pxTorem(76);
          height: pxTorem(32);
          line-height: pxTorem(32);
          top: pxTorem(-10);
          font-size: pxTorem(10);
        }
      }
      .login-btn{
        width: pxTorem(220);
        height: pxTorem(32);
        a{
          width: pxTorem(220);
          height: pxTorem(32);
          line-height: pxTorem(32);
          font-size: pxTorem(14);
        }
      }
    }
  }
}
