extends ../layouts/layout.jade
block banner
   <vue-banner></vue-banner>
block con 
  //- 家具商城
  div
    <vue-goods></vue-goods>
 
  <vue-line></vue-line>
  //- 装修设计
  div
    <vue-design></vue-design>
    
  <vue-line></vue-line>
  //- 软件工具
  div
    <vue-software></vue-software>
  
  <vue-line></vue-line>
  //- 服务支持
  div
    <vue-service></vue-service>

  
    

