extends ../layouts/layout.jade
block banner
  <vue-swiper></vue-swiper>
block con 
  //- 家具商城
  div
    <vue-goods></vue-goods>
  
  //- 装修设计
  div
    <vue-design></vue-design>
  
  //- 软件工具
  div
    <vue-software></vue-software>
  
  //- 服务支持
  div
    <vue-service></vue-service>

  
    

