extends ../layouts/layout.jade
block banner
  div(v-for="(key, index) in headercoms")
    component(v-bind:is= '"vue-" + key')
block con
  div(v-for="(key, index) in bodycoms")
    component(v-bind:is= '"vue-" + key')
    <vue-line v-if="index != bodycoms.length - 1"></vue-line>
