extends ../layouts/layout.jade
block banner
  <vue-swiper></vue-swiper>
  //- <vue-footer></vue-footer>
block con 
  h1 hello world 
  <vue-news></vue-news>

  //- 家具商城
  div
    <vue-blocktitle></vue-blocktitle>
  
  //- 视频展示
  div
    <vue-video></vue-video>

  
    

