@import "function.scss";

.navbar-header{
  height: pxTorem(85);
  .home-logo{
    position: relative;
    bottom: pxTorem(-25);
    float:left;
    margin-right: pxTorem(20);
    img{
      width: pxTorem(180);
      height: pxTorem(60);
    }
  }
  .nav-tab{
    position: relative;
    bottom: pxTorem(-40);
    width: pxTorem(700);
    height: pxTorem(30);
    line-height: pxTorem(30);
    float: left;
    li{
      display: inline-block;
      width: pxTorem(140);
      text-align: center;
      float: left;
      font-size: pxTorem(16);
      border-right: pxTorem(1) solid #ccc;
      a{
         color: #333;
      }
    }
    li:nth-child(5) {
      border-right: none;
    }
  }
}