@import "function.scss";
html{
  font-size: 14px;
}
body{
  font-family: Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;
  background-color: #fff !important;
}

.home-logo{
  float:left;
}
.body-box{
  .wrap-box{
    margin: 0 auto;
    padding: 0;
    width: pxTorem(1200);
  }
}
.footer-style,
.banner-box{
  //width: 100%;
}

.navbar{
  padding: 0;
  .container-self{
    width: pxTorem(1200);
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .body-box{
    width: pxTorem(1200);
  }
  .banner-box{
    width: pxTorem(1200);
  }
  .navbar{
    width: pxTorem(1200);
  }
  .footer-style{
    width: pxTorem(1200);
  }
  .container-self{
    width: pxTorem(1200);
  }
}
@media (max-width: 800px) {
  .body-box{
    width: 100%;
  }
  .banner-box{
    width: 100%;
  }
  .navbar{
    width: 100%;
  }
  .footer-style{
    width: 100%;
  }
  .container-self{
    width: 100%;
  }
}

/*组件公共样式*/
.vue-component{
  .list-style{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .clear:before,
  .clear:after{
    display: block !important;
    clear: both !important;
    content: "" !important;
    visibility: hidden !important;
    height: 0 !important;
  }
  .img-box{
    overflow:hidden;
    img{
      transition: all 0.6s;  
    }
    img:hover{
      -moz-transform:scale(1.2);  
      -webkit-transform:scale(1.2);  
      -o-transform:scale(1.2); 
    }
  }
}



//- bootstrap patch
.form-control{
  border-radius: 0
}

.card {
  border: none;
  box-shadow: 1px 1px 1px #d4d4d4;
  img {
    width: 100%;
  }
}

// nav.navbar{
//   .avatar {
//     width: 30px; 
//     height: 30px;
//     border-radius: 100%;
//     box-shadow: 1px 1px 1px #DDD;
//   }
// }

.container{
  position: relative;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #41464b;
}

// 消息提示
.alert-tip{
  position: fixed;  top: -100px;  width: 400px;  left: 50%;  margin-left: -200px;  z-index: 2000;     background-image: none;
}


[v-cloak]{display: none;}
