meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
title 搭配家

each item in development.assets.vendor.stylesheets
  link(href="/assets/stylesheets/#{item}.css" rel="stylesheet")




//- 存入后端的某些公共变量供JS使用  全局配置
script.
  window.SITE = {
    router: {
      controller: '#{route.controller}',
      action: '#{route.action}'
    },
    session: {
      login: false,
      mem: 0
    },
    app_key: '0c31e550cfdab86f2c2ea59327907798',
    app_id: 'cfdab86f2c2ea593',
    API: {
      url: 'http://192.168.1.120/openapi/api/1.0/'
    }
  }
