meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
title 搭配家

each item in development.assets.vendor.stylesheets
  link(href="/assets/stylesheets/#{item}.css" rel="stylesheet")




//- 存入后端的某些公共变量供JS使用  全局配置
script.
  window.SITE = {
    router: {
      controller: '#{route.controller}',
      action: '#{route.action}'
    },
    app_key: 'hahha',
    app_id: '222',
    API: {
      url: 'http://192.168.1.120/openapi/api/1.0/'
    },

  }



