doctype html
html
  head
    include ./header.jade
  body
    div#app.body-box
      include ./nav.jade 
      div.banner-box
        block banner
      div.wrap-box
        block con
      footer
        <vue-footer></vue-footer>
        include ./footer.jade
        //- include ./datastatistics.jade

