nav.navbar.navbar-light.bg-faded
  div.container
    <vue-toplab></vue-toplab>
    div.navbar-header.collapse.navbar-toggleable-xs 
      a.home-logo(href="/") 
        img(src="/assets/images/logo_h.png")
      ul.nav.navbar-nav.nav-tab
        li
          a(href="") 首页
        li
          a(href="") 家具商城
        li
          a(href="") 装修设计
        li
          a(href="") 软件工具
        li
          a(href="") 服务支持
      
